// bower:scss
// endbower

@import 'sprites/fonts.scss';

@mixin hide-text {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
@media screen and ( max-width: 57.8125em ) {
  body {
    font-size: 14px;
  }
}
@media screen and ( max-width: 50em ) {
  body {
    font-size: 11px;
  }
}

// Default Variables
$font-din: 'DINCondensed-Regular';
$font-festivo: 'FestivoLettersNo1';
$font-georgia: Georgia, Times, 'Times New Roman', serif;
$font-socicon: 'socicon';

$slick-font-path: "/bower_components/slick-carousel/slick/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: " " !default;
$slick-dot-size: 1em !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.socicon {
  font-family: $font-socicon;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
}
* {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; 
}
body {
  font-family: $font-georgia;
}

.header {
  font: {
    family: 'FestivoLettersNo1', sans-serif;
    size: 3.75em;
  }
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  .how-it-works &,
  .convicted &,
  .mission &,
  .help-us & {
    margin: 0 auto;
    position: relative;
  }
}
.dek {
  font: {
    family: $font-georgia;
    size: 1em; 
  }
  line-height: 2;
  margin: 0 auto;
  text-align: center;
  @media screen and ( max-width: 57.8125em ) {
    font-size: 1.1em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.masthead,
.movie,
.mission,
.how-it-works,
.convicted,
.help-us,
.footer {

}
.wrapper {
  margin: 0 auto;
  max-width: 57.8125em; // 925px
  position: relative;
  width: 100%;
}
.sticky {
  position: fixed !important;
  z-index: 10;
  &.masthead {
    left: 0;
    top: 0;
  }
  .donate {
    display: none;
  }
}
.masthead {
  background: url('../images/bg-masthead.png') 50% 100% no-repeat;
  padding: 1.84375em 0 3.84375em;
  width: 100%;
  @media screen and ( max-width: 50em ) {
    padding-bottom: 1.84375em;
  }
  /*-webkit-transition: all .2s;
  transition: all .2s;
  &.scrolled {
    padding: 1em 0 2em;
    -webkit-transition: all .2s;
    transition: all .2s;
  }*/
  > div > div {
    display: inline-block;
    vertical-align: top;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  .logo {
    a {
      @include hide-text;
      background: url('../images/logo.png') 0 0 no-repeat;
      display: block;
      height: 72px;
      margin: 0 2em 0 0;
      width: 323px;
      @media screen and ( max-width: 50em ) {
        background-size: contain;
        margin: 0 0 0 1em;
        width: 250px;
      }
    }
  }
  a {
    color: #fff;
    &.mobile {
      display: none;
      font-size: 3em;
      padding-left: 1em;
      position: absolute;
      right: 0.6em;
      top: 5px;
      @media screen and ( max-width: 50em ) {
        display: block;
      }
      &:before {
        border-top: 0.375em double #fff;
        border-bottom: 0.125em solid #fff;
        content: "";
        height: 0.125em;
        left: 0;
        position: absolute;
        top: 0.25em;
        width: 1em;
      }
    }
    &.close {
      display: none;
      font-size: 3em;
      min-width: initial;
      padding: 0;
      position: absolute;
      right: 16px;
      top: 13px;
      width: 20px;
      z-index: 110;
      &.active {
        display: block;
      }
    }
  }
  .nav {
    font: {
      family: 'DINCondensed-Regular', sans-serif;
      size: 1em;
    }
    line-height: 1.3;
    width: 28em;
    @media screen and ( max-width: 50em ) {
      display: none;
      padding-top: 20px;
      position: relative;
    }
    &.active {
      background-color: rgba(0, 0, 0, .9);
      display: block;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 100;
    }
    a {
      min-width: 5.625em; // 90px
      padding: 1em 1.5em;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      @media screen and ( max-width: 50em ) {
        display: block;
        font-size: 2em;
        margin: 0 auto;
        max-width: 75%;
      }
      &:hover {
        @media screen and ( max-width: 50em ) {
        }
        &:after {
          background: url('../images/nav-underscore.png') 0 0 no-repeat;
          bottom: 0;
          content: '';
          display: block;
          height: 6px;
          left: 50%;
          margin-left: -32px;
          position: absolute;
          width: 65px;
          @media screen and ( max-width: 50em ) {
            display: none;
          }
        }
      }
      span {
        display: block;
        @media screen and ( max-width: 50em ) {
          display: inline;
        }
      }
    }
  }
  .donate {
    @include hide-text;
    background: url('../images/masthead-donate-now.png') 0 0 no-repeat;
    background-size: contain;
    height: 47px;
    position: absolute;
    right: 30px;
    top: 11px;
    width: 80px;
    @media screen and ( max-width: 50em ) {
      display: none;
    }
  }
}
.movie {
  // background: url('../images/bg-movie.jpg') 50% 30% no-repeat #fff;
  padding: 1em 0;
  position: relative;
  span {
    display: block;
    @media screen and ( max-width: 57.8125em ) {
      display: inline;
    }
  }
  .video {
    margin: 2em auto;
    max-width: 80%;
  }
  .letter {
    display: block;
    margin: 0 auto;
    text-align: center;
    @media screen and ( max-width: 57.8125em ) {
      padding: 0 1em;
    }
    .subdek,
    a {
      display: inline-block;
      vertical-align: middle;
    }
    .subdek {
      font-size: 0.875em;
      line-height: 1.6;
      margin-right: 2em;
    }
    a {
      background: url('../images/bg-letter-arrow.png') 0 0 no-repeat;
      color: #fff;
      font: {
        family: 'DINCondensed-Regular', sans-serif;
        size: 1em;
      }
      height: 39px;
      letter-spacing: .1em;
      line-height: 2.5;
      padding: 0 0 0 40px;
      position: relative;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      width: 169px;
      @media screen and ( max-width: 57.8125em ) {
        font-size: 1.5em;
      }
      &:before {
        background: url('../images/icon-dna-letter.png') 0 0 no-repeat;
        content: '';
        display: inline-block;
        height: 28px;
        left: 5px;
        position: absolute;
        top: 5px;
        width: 25px;
      }
    }
  }
}
.mission {
  background: url('../images/bg-mission-top.png') 50% 0 no-repeat;
  color: #f6f5f1;
  font-family: 'DINCondensed-Regular', sans-serif;
  padding: 7.5em 0 2.2875em;
  text-align: center;
  @media screen and ( max-width: 57.8125em ) {
    padding-top: 11.5em;
  }
  .wrapper {
    max-width: 41em; // 656px
  }
}
.how-it-works {
  background: url('../images/bg-how-it-works.jpg') 50% 0 no-repeat;
  font-family: 'DINCondensed-Regular', sans-serif;
  text-align: center; 
  .wrapper {
    max-width: 40.625em; // 650px
    padding: 5.4375em 0 8em;
    @media screen and ( max-width: 57.8125em ) {
      padding-top: 3.4375em;
    }
  }
  .steps {
    > div {
      display: inline-block;
      padding: 4em 1em 0;
      text-align: center;
      vertical-align: top;
      width: 32.75%;
      @media screen and ( max-width: 57.8125em ) {
        display: block;
        padding: 1em 0;
        width: 100%;
      }
    }
  }
  .step1 {
    .number {
      background-image: url('../images/seal-step-1.png');
    }
  }
  .step2 {
    .number {
      background-image: url('../images/seal-step-2.png');
    }
  }
  .step3 {
    .number {
      background-image: url('../images/seal-step-3.png');
    }
  }
  .step1,
  .step2,
  .step3 {
    .number {
      background-position: 0 0;
      background-repeat: no-repeat;
      @media screen and ( max-width: 57.8125em ) {
        background-size: contain;
        height: 70px;
        line-height: 4.24242424;
        margin-bottom: .25em;
        width: 65px;
      }
    }
  }
  .number {
    color: #fff;
    font: {
      family: 'FestivoLettersNo1';
      size: 1.5em;
    }
    height: 140px;
    line-height: 5.83333333;
    margin: 0 auto 1em auto;
    letter-spacing: .05em;
    width: 137px;
  }
  .subtitle {
    font: {
      family: 'FestivoLettersNo1';
      size: 1.5em;
    }
    line-height: 2;
  }
  .subdek {
    font: {
      family: 'DINCondensed-Regular';
      size: 1.125em;
    }
  }
  .dek,
  .subdek {
    @media screen and ( max-width: 57.8125em ) {
      margin: 0 auto;
      max-width: 70%;
    } 
  }
}
.convicted {
  background: url('../images/bg-innocent.jpg') 50% 100% no-repeat;
  font-family: 'DINCondensed-Regular', sans-serif;
  padding-bottom: 8em;
  text-align: center;
  .quote,
  .subhead {
    /* background: url('../images/bg-convicted-quote.png') 0 0 no-repeat; */
    color: #000000;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.1;
    margin: 0 auto;
    text-align: center;
  }
  .carousel {
  }
  .bottom {
/*    background: url('../images/carousel-bottom-left.png') 0 0 no-repeat,
                url('../images/carousel-bottom-right.png') 100% 0 no-repeat; */
    display: inline-block;
    font-family: 'DINCondensed-Regular', sans-serif;
    letter-spacing: 0.16em;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    img {
      margin: 0 auto;  
    }
    .subdek {
      font: {
        family: $font-georgia;
        size: 1em;
      }
      padding-top: 20px;
      text-transform: none;
    }
  }
}
.help-us {
  background: url('../images/bg-help-us.jpg') 50% 0 no-repeat;
  color: #fff;
  .wrapper {
    padding-bottom: 2.66666667em;
  }
  .dek {
    max-width: 27.0833333em;
  }
  .letter-form {
    background: url('../images/bg-letter.jpg') 0 0 no-repeat;
    color: #000;
    font: {
      family: 'Times New Roman', Times, serif;
      size: 0.8125em;
    }
    margin: 3em auto;
    max-width: 48.7692307em;
    padding: 5em 8em 12em;
    position: relative;
    @media screen and ( max-width: 57.8125em ) {
      margin: 3em 1em;
      padding: 2em;
    }
    p {
      @media screen and ( max-width: 57.8125em ) {
        font-size: 1.35em;
      }
    }
  }
  form {
    padding: 2em 0;
    @media screen and ( max-width: 57.8125em ) {
      font-size: 1.5em;
    }
    > div {
      display: inline-block;
      width: 32.8%;
      @media screen and ( max-width: 57.8125em ) {
        display: block;
        width: 100%;
      }
    }
    + img {
      height: 39px;
      width: 171px;
    }
  }
  label {
    font: {
      family: 'DINCondensed-Regular', sans-serif;
      size: 1.25em;
    }
    text-align: center;
    > span {
      color: #f00;
    }
  }
  input[type="text"],
  input[type="email"] {
    background-color: #eaebec;
    border: 1px solid #000;
    max-width: 11em;
    padding: 0 .5em;
    width: 100%;
    @media screen and ( max-width: 57.8125em ) {
      display: block;
      margin: .25em 0 1em 0;
    }
    &.error {
      border-color: #f00;
    }
  }
  button[type="submit"] {
    background: url('../images/form-submit.png') 0 0 no-repeat;
    border: 0;
    color: #fff;
    display: inline-block;
    font: {
      family: 'FestivoLettersNo1', sans-serif;
      size: 1.33333333em;
    }
    line-height: 1.75;
    margin: 3.4375em 1em 1.4375em 0;
    padding-left: .8em;
    text-align: left;
    width: 130px;
    @media screen and ( max-width: 57.8125em ) {
      margin: 1.4375em 0 0;
    }
  }
  .thankyou {
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    display: none;
    font-family: 'DINCondensed-Regular', sans-serif;
    left: 0;
    position: absolute;
    top: 0;
    > div {
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
    .top {
      font-size: 5em;
    }
    .bottom {
      font-size: 1.91666667em;
    }
  }
  .disclaimer {
    font-family: 'DINCondensed-Regular', sans-serif;
    line-height: 2.7;
    @media screen and ( max-width: 57.8125em ) {
      display: block;
    }
  }
}
.footer {
  background: url('../images/bg-footer-top.png') 50% 0 no-repeat;
  font: {
    family: 'DINCondensed-Regular', sans-serif;
  }
  padding: 5.6875em 0 3em 0;
  text-align: center;
  @media screen and ( max-width: 57.8125em ) {
    padding: 4.6875em 1em 1.5em 1em;
  }
  .header {
    font-size: 1.3em; 
  }
  .dek {
    display: inline-block;
    line-height: 1.3; 
  }
  .socialfooter {
    font: {
      family: 'FestivoLettersNo1', sans-serif;
      size: 1.1875em;
    }
    line-height: 1.625;
    margin: 1em auto;
    max-width: 32.1578947em;
    > img {
      @media screen and ( max-width: 57.8125em ) {
        height: auto;
        width: 100%;
      }
    }
    > img:first-of-type {
      padding-bottom: .4em;
    }
    .subtitle {
      display: inline-block;
      padding-right: 1em;
    }
    a {
      background: url('../images/bg-footer-btn-1.png') 0 0 no-repeat;
      background-size: contain;
      color: #000;
      display: inline-block;
      font-size: 0.63157895em;
      line-height: 2em;
      text-decoration: none;
      vertical-align: middle;
      width: 78px;
      @media screen and ( max-width: 57.8125em ) {
        width: 48px;
      }
      + a {
        background-image: url('../images/bg-footer-btn-2.png');
        width: 68px;
        @media screen and ( max-width: 57.8125em ) {
          width: 45px;
        }
      }
    }
    .hashtag {
      font-size: 0.63157895em;
    }
  }
  .logo {
    display: inline-block;
    img {
      height: auto;
      width: 100%;
    }
    &.left {
      padding-right: 1em;
    }
    &.right {
      padding-left: 1em;
    }
  }
  .copyright {
    font-size: .75em;
    margin: 0 auto;
    max-width: 50.9166666em;
    text-transform: uppercase;
  }
}

.carousel { 
  .slick-slide {
    opacity: .1;
    -webkit-transition: all .3s;
    transition: all .3s;
    img {
      height: auto;
      max-width: 275px;
      width: 100%;
    }
  }
  .slick-active {
    opacity: 1;
  }
  .slick-prev,
  .slick-next {
    background-color: transparent;
    border: 0;
    color: #000;
    cursor: pointer;
    display: block;
    font: {
      family: 'DINCondensed-Regular', sans-serif;
      size: .875em;
    }
    height: 47px;
    margin-top: -32px;
    outline: none;
    padding: 0.3em 0 0 0;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    width: 86px;
    @media screen and ( max-width: 57.8125em ) {
      bottom: -10px;
      top: initial;
      z-index: 110;
    }
  }
  .slick-prev {
    background: url('../images/carousel-arrow-prev.png') 0 0 no-repeat;
    left: 17%;
    padding-left: 1em;
    @media screen and ( max-width: 57.8125em ) {
      left: 1%;
    }
  }
  .slick-next {
    background: url('../images/carousel-arrow-next.png') 100% 0 no-repeat;
    right: 17%;
    padding-right: 1em;
    @media screen and ( max-width: 57.8125em ) {
      right: 1%;
    }
  }
  .slick-dots {
    bottom: 1em;
  	z-index: 100;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    @media screen and ( max-width: 57.8125em ) {
      bottom: 3em;
    }
    li {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
      cursor: pointer;
      button {
        border: 0;
        background: transparent;
        display: block;
        outline: none;
        line-height: 0;
        font-size: 1em;
        color: transparent;
        padding: 0 3px;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          &:before {
            opacity: $slick-opacity-on-hover;
          }
        }
        &:before {
          border: 1px solid $slick-dot-color;
          border-radius: $slick-dot-size; 
          position: absolute;
          top: 0;
          left: 0;
          content: $slick-dot-character;
          width: .5em;
          height: .5em;
          font-family: $slick-font-family;
          font-size: $slick-dot-size;
          line-height: 1;
          text-align: center;
          color: #fff;
          opacity: $slick-opacity-not-active;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &.slick-active button:before {
        background-color: $slick-dot-color;
        color: $slick-dot-color-active;
        opacity: $slick-opacity-default;
      }
    }
  }
}
